[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Archi Steam Farm
Comment=Archi Steam Farm launcher
Exec=lxterminal --command "mono /home/pi/ArchiSteamFarm/ASF.exe"
Icon=/home/pi/ArchiSteamFarm/ASF.png
Terminal=false
