[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=OSBuddy
Comment=OSBuddy Launcher
Exec=java -Xmx1024m -jar ~/.osbuddy/updates/OSBuddy-48ca.jar
Icon=§/.osbuddy/updates/osbuddy.png
Terminal=false
