[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Runescape 3
Comment=Runescape 3 Launcher
Exec=java -Xmx1024m -Djava.class.path=~/.jagex/runescape/bin/jagexappletviewer.jar -Dcom.jagex.config="http://www.runescape.com/k=3/l=en/jav_config.ws" jagexappletviewer ~/.jagex/runescape/images
Icon=~/.jagex/runescape/images/jagexappletviewer.png
Terminal=false
